@use "../../styles/variables.module" as variables
	
.section
	padding: 8rem 0

	.title
		font-family: variables.$font-jedi
		font-size: variables.$font-size-huge
		margin-bottom: 4rem

	.content-small
		max-width: 75ch
		margin-left: auto
		margin-right: auto

	&:nth-of-type(even)
		background: #f2f2f2

.center
	text-align: center

.small
	padding: 2rem 0