@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Star Jedi";
	src: url("../public/fonts/Starjedi.ttf")
}

@layer base {
	.container {
		@apply mx-auto;
		@apply w-11/12 !important;
	}
}

@layer components {
	.buttons {
		@apply space-y-6;

		@apply lg:flex;
		@apply space-y-0;
		@apply space-x-6;
	}

	.button {
		@apply inline-block;
		@apply w-full;
		@apply p-3;
		@apply px-6;
		@apply bg-black-off;
		@apply text-white;
		@apply rounded-md;
		@apply text-xl;
		@apply text-center;

		@apply lg:w-auto;
	}

	.image-container {
		@apply w-full;
	}

	.image-container > span {
		position: unset!important;
	}

	.image-container img {
		object-fit: contain;
		width: 100%!important;
		position: relative!important;
		height: unset!important;
	}

	.results-grid {
		@apply grid;
		@apply gap-6;
		@apply md:grid-cols-2;
		@apply md:gap-12;
		@apply lg:grid-cols-5;
	}
}